:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    box-sizing: inherit;
}

html {
    font-size: 62,5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.slideInDown {
    animation-name: slideInDown ;
}

.slideInLeft {
    animation-name: slideInLeft;
}
.slideInRight {
    animation-name: slideInRight;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes slideInDown {
    0% {
        transform: translate3d(0,-30%,0);
        visibility: visible;
    }
    100% {
        transform: translateZ(0);
    }
}
@keyframes slideInLeft {
    0% {
        transform: translate3d(-10%,0,0);
        visibility: visible;
    }
    100% {
        transform: translateZ(0);
    }
}
@keyframes slideInRight {
    0% {
        transform: translate3d(10%,0,0);
        visibility: visible;
    }
    100% {
        transform: translateZ(0);
    }
}

@keyframes animation {
    from {
      width: 0;
    }
    to {
      width: var(--percent);
    }
  }
